@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


* {
     font-family: "Archivo Black", sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}



body{
    background-image: linear-gradient(#ff9100, #ffc400);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.upbar {
    display: flex;
    margin: 14px 15px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid black;
    
}

p {
    padding-right: 30px;
    font-size: 13px;
}

a{
    color: black;
    text-decoration: none;
    padding: 15px;
}
a:hover{
    text-decoration: underline;
}

#instalerwindow {
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    height: fit-content;
    width: 300px;

    margin: 50px auto;
}
button {
    padding: 20px;
    border-radius: 20px;
}
